# GENERAL
SERVICE=ioc_scrapper
APP_ENV=dev
GIN_MODE="debug"
ROOT=api
VERSION=v1

#REST
SERVER_PORT=8080
API_PATH_SERVICE_NAME=esconsumer

#BACKEND
SERVICE_PORT=80

#SCRAPPER URLS
SCRAPPER_VIRUS_TOTAL_BASE_URL=https://www.virustotal.com