# GENERAL
SERVICE=ioc.scrapper
APP_ENV=dev
GIN_MODE="debug"
ROOT=api
VERSION=v1

#REST
SERVER_PORT=8080

SERVICE_NAME=

#BACKEND
SERVICE_PORT=80

#SCRAPPER URLS
SCRAPPER_VIRUS_TOTAL_BASE_URL=https://www.virustotal.com

#DATABASE
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=ioc_scapping